.clients {
  padding-top: var(--tipical-padding);
  padding-bottom: var(--tipical-padding);
}

.clients__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--duration-timing-function),
    border var(--duration-timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: var(--accent-color);
  }
}
