.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-Img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2f303a;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color var(--duration-timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}
